<div class="filter-section">
  <!-- Search -->
  <!-- <input
    type="text"
    placeholder="Search products..."
    [(ngModel)]="filters.searchText"
    (input)="applyFilters()"
    class="filter-input"
  /> -->

  <!-- Category Dropdown -->
  <ejs-dropdownlist
    [dataSource]="categories"
    [(ngModel)]="filters.Category"
    placeholder="Select Category"
    (ngModelChange)="applyFilters()"
  ></ejs-dropdownlist>

  <!-- Price Range -->
  <div class="price-range">
    <ejs-numerictextbox
      [(ngModel)]="filters.MinPrice"
      placeholder="Min"
      (ngModelChange)="applyFilters()"
      [min]="0"
      format="c2"
      currency="EUR"
    ></ejs-numerictextbox>
    <span>-</span>
    <ejs-numerictextbox
      [(ngModel)]="filters.MaxPrice"
      (ngModelChange)="applyFilters()"
      placeholder="Max"
      format="c2"
      [min]="filters.MinPrice"
      currency="EUR"
    ></ejs-numerictextbox>
  </div>

</div>
