<div class="product-page__breadcrumb">
<breadcrumb></breadcrumb>

</div>

<div class="product-page-container">
  <div class="product-page__feature-image">
    <img
      src="https://www.homesweethome.gr/media/catalog/product/cache/e0ec88829fb05fc7e7c9c60de78d84d8/5/4/54900-b2b_big_1.jpg"
      alt="Product Image"
    />
  </div>

  <div class="product-page__details-container">
    <h1 class="product-page__title">
      Bizzotto Clarity Βοηθητικά Τραπέζια Μεταλλικά Κεραμιδί/Πράσινα Σετ 2 Τμχ
      36x36x61
    </h1>
    <h4>Κωδικός: 0747430</h4>
    <p class="product-page__short-descr">
      Το σετ Clarity περιλαμβάνει δύο βοηθητικά τραπέζια διαφορετικού χρώματος —
      ένα σε κεραμιδί (terracotta) και ένα σε πράσινο sage — δημιουργώντας έναν
      διακριτικό αλλά εντυπωσιακό συνδυασμό που προσθέτει χαρακτήρα σε κάθε
      σαλόνι ή καθιστικό χώρο...
    </p>

    <div class="product-page__price">$49.99</div>

    <div>
      <button class="product-page__go-to-eshop">Αγόρασε το</button>
    </div>
  </div>
</div>
