<div class="categories-container">
  <ul class="category-list">
    @for(Cat of categories|async;track Cat.Id){
    <li class="category-item">
      <div class="category-header" (click)="ToggleExpand(Cat)">
        <!-- <fa-icon [icon]="Cat.Icon" class="category-icon"></fa-icon> -->
        <span>{{ Cat.Name }}</span>
        <fa-icon
          [icon]="Cat.Expanded ? faChevronUp : faChevronDown"
          class="expand-icon"
        ></fa-icon>
      </div>

      @if(Cat.Expanded){
      <ul class="subcategory-list">
        @for(Sub of Cat.Subcategories;track Sub.Id){
        <li (click)="SelectCategory(Sub.Name)" class="subcategory-item">
          {{ Sub.Name }}
        </li>
        }
      </ul>
      }
    </li>
  }

  </ul>
</div>
