@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@syncfusion/ej2-material-theme/styles/offline-theme/material.css';
@import "../node_modules/@syncfusion/ej2-icons/styles/material.css";

//General
.flex{
  display: flex;
}

//Single Product Page
.product-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: white;
  padding: 0 1rem 1rem 1rem;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  margin: 0 auto;
}

.product-page__breadcrumb {
  display: flex;
  background: white;
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  margin: 1% auto;
}

.product-page__feature-image {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-page__feature-image img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: contain;
  background: #f0f0f0;
  cursor: zoom-in; /* magnifier cursor on hover */
  transition: opacity 0.2s;
}

.product-page__feature-image img:hover {
  opacity: 0.9; /* subtle hover effect */
}

.product-page__details-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  //justify-content: center;
}

.product-page__title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.product-page__short-descr {
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-page__price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-page__go-to-eshop {
  background-color: #b82626;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s;
}

.product-page__go-to-eshop:hover {
  background-color: #8d1f1f;
}


@media (max-width: 768px) {
  .product-page-container {
    flex-direction: column;
  }

  .product-page__feature-image, .product-page__details-container {
    flex: unset;
  }
}

